<ul class="right-bottom">

  <li class="right-top">
  <%# 管理者しか使えないようにしている %>
    <ul class="format">
      <li>
    <% if user_signed_in? && current_user.admin? %>
      <%= form_with model: @ror,url: rors_path, local: true do |f| %>


      <div class="d-flex flex-row">
      
        <%= f.text_field :gem_name, placeholder: "gemファイル名" %>
        <%= f.text_area :about_gem, placeholder: "gemfile記載内容"  %>
        <%= f.text_area :syntax_name, placeholder: "構文名"  %>
        <%# </div> %>
        <%# <div class="d-flex flex-row"> %>
        <%= f.text_field :version, placeholder: "バージョン"  %>
        <%= f.text_area :how_to_use, placeholder: "使い方"  %>
        <%# description:使い方 %>
        <%= f.text_area :description, placeholder: "記載場所"  %>  
        <%= f.text_field :reference_url, placeholder: "参考URL"  %>
        <%= f.submit '送信' %>
        </div>

      <% end %>
    <% end %>
        </li>
        <li class="search">
    <%= form_with(url: search_rors_path, local: true, method: :get, class: "search-form") do |form| %>
      <%= form.text_field :keyword, placeholder: "検索", class: "search-input" %>
      <%= form.submit "検索", class: "te" %>
    <% end %>
        </li>
    <ul>
  </li>



  <li>
  <%# <div class="container"> %>
    
    <table class="table table-striped table-hover bg-light" >
    <%# <thead class="thead-dark"> %>
      <%# DBのカラム名を表示 %>
      <tr>
        <% @columns.each do |column| %>
          <th><B><%= column %></B></th>
        <% end %>
      
      <% @rors.each do |ror| %>
        <tr>
          <th><%= ror.gem_name %></th>
          <th><%= ror.about_gem %></th>
          <th><%= ror.syntax_name %></th>
          <th><%= ror.version %></th>
          <th><%= ror.how_to_use %></th>
          <th><%= ror.description %></th>
          <th><%= ror.reference_url %></th>
      </tr>
      <% end %>
      </tr>
    
    </table>
    </div>
  </li>
</ul>